
.container {
    position: absolute;
}
.img {
    position: absolute;
    width: 500px; 
    height: 500px;
    /* background-repeat: no-repeat; */
    /* background-size:contain; */
    /* background-image: url(../images/bb.jpg); */
    cursor: move;
}
.pt {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 15px;
    background-color: rgba(59, 228, 191, 0.555);
    cursor: pointer;
}





